.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../images/parchment-texture.jpeg") no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: white;
    text-align: center;
   }
   

   .intro-content {
    max-width: 1000px;
    padding: 20px;
   }
   
   
   .intro-title {
   font-family: "Rye", cursive;
    font-size: 3rem;
    margin-bottom: 20px;
    color:black;
   }
   
   
   .intro-paragraph {
      color:black;
      font-family: "Antic Slab", cursive;
    font-size: 1.5rem;
    margin-bottom: 30px;
   }
   
   
   .intro-login-button {
      font-family: "Antic Slab";
   position: absolute;
    padding: 15px 30px;
    font-size: 1rem;
    color: white;
    background-color: #D49665;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    width: 125px;
    top: 20px; /* Distance from the top */
    right: 200px;
   }
   
   
   .signup-button {
      font-family: "Antic Slab";
      position: absolute;
      padding: 15px 30px;
      font-size: 1rem;
      color: white;
      background-color: #5C2C06;
      border: none;
      border-radius: 15px;
      cursor: pointer;
      width: 125px;
      top: 20px; /* Distance from the top */
      right: 50px;
    }
   
   
   .intro-login-button:hover {
    background-color: #f0f0f0;
   }
   
   
   .intro-wax-seal {
   position: absolute; /* Position the image absolutely */
    top: 20px; /* Distance from the top */
    left: 20px; /* Distance from the left */
    height: 160px; /* Adjust the height as needed */
    width: auto;
    }
   
   
   @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}